body{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
font-size:larger ;
background-image: url(https://img.freepik.com/free-photo/empty-elegant-background-with-copy-space_24972-1807.jpg?t=st=1739815595~exp=1739819195~hmac=c3d3a4af8be67f17bff0a834557d63c009a571f609c13a83f5f6e8969571c53f&w=1380);
background-position: center;/*фон по центру*/
background-repeat: no-repeat;/*не повторять фон*/
background-attachment: fixed;/*фиксирование фона при прокрутке*/
background-size: cover;/*авто подстройка фона*/
}
.head{
height: 200px; /*отступ он верхушки сайта*/
font-size: 55px; /*размер шрифта*/
text-align: center; /*выравнивание по центру*/
font-weight: 750; /*толщина шрифта*/
color: goldenrod ; /*цвет*/
font-variant: small-caps;/*мини капс*/
text-shadow: 0 0 50px ;/*тень*/
margin-top: 70px;/*Отступ от вверха*/
}
.indspis{
list-style:none ;/*убрать метку списка*/
text-align: center;
font-size: 25px;
font-variant: small-caps;/*мини капс*/
}
.silka{
text-decoration: none; /*убрать подчеркивание ссылки*/
transition: 0.75s;/*задержка*/
color: black;

}
.silka:hover{ /*реакция при наведении*/
  color: goldenrod; /*цвет сменяется на бронзовый*/
  text-shadow: 0 0 100px ;/*тень*/
}
.silka:visited{/*после посещения*/
color:darkgoldenrod
}