body {
    background-size: cover; /* Масштабировать изображение по размеру экрана */
    display: flex;
    flex-direction: column; /* Вертикальное расположение */
    align-items: center; /* Центрирование по горизонтали */
    font-family: "Shafarik";
    margin: 0; /* Убрать отступы */
}

a:hover {
    color: white; /* Белый цвет текста при наведении */
}

a {
    text-decoration: none; /* Убрать подчеркивание у ссылок */
    color: #87CEEB; /* Голубой цвет для ссылок */
    font-size: 24px; /* Размер шрифта для ссылок */
    display: block; /* Ссылки будут на новой строке */
    margin: 10px 0; /* Отступы между ссылками */
    transition: color 0.3s; /* Переход для цвета */
}

.g
{
position: absolute;
left: 50;
top: 50;
width: 200px;
height: 200px;
}

.image
{
position: absolute;
left: 25; 
top: 20; 
width: 150px; 
height: 150px;
z-index: 1;
}
.text
{
position: absolute;
left: 50; 
top:100;
z-index: 1; 
font-size:30px; 
COLOR: red;
}

.image2
{
position: absolute;
left: 20;
top: 20;
width: 175px;
height: 175px;
z-index: 0;
}

.image5
{position: absolute;
     z-index: 0;
    width: 100px;
height: 100px;}
.image4
{position: absolute;
     z-index: 1;
    height: 75px;
width: 75px;}
.image3
{position: absolute;
     z-index: 2;
    width: 50px;
height: 50px;}

.im1 {
    position: absolute;
z-index: 0;
width: 350px;
height: 200px;
}

.im2{
    position: absolute;
z-index: 1;
height: 155px;
width: 190px;
margin-top: 20px;
margin-left: 130px;
}

.t {
    position: absolute;
z-index: 2;
color: red;
font-size: 40px;
left: 780px;
}

.img{
    position: absolute;
    z-index: 0;
    width: 500px;
    height: 200px;
}

.t1 {
    font-size: 70px;
position: absolute;
z-index: 1;
color: red;
left: 750px;
top: 570px;
}
.t2{
    font-size: 70px;
position: absolute;
z-index: 2;
color: blue;
top: 590px;
left: 760px;
}
.t3{
    font-size: 70px;
position: absolute;
z-index: 3;
color: green;
top: 610px;
left: 770px;
}

.lec{
position: absolute;
z-index: 1;
width: 250px;
height: 200px;
margin-top: 50px;
margin-left: 35px;
border: 10px solid yellow; 
}
.gold{
position: absolute;
z-index: 0;
width: 400px;
height: 300px;
}
.t4{
    position: absolute;
z-index: 2;
font-size: 40px;
color: aqua;
top: 860px;
left: 740px;
}
.t5{
    position: absolute;
z-index: 2;
font-size: 40px;
color: aqua;
left: 930px;
top: 970px;
}

.im3 {
position: absolute;
z-index: 0;
width: 400px;
height: 300px;
}
.im4{
    position: absolute;
    z-index: 1;
width: 350px;
height: 250px;
margin-left: 20px;
margin-top: 30px;
border: 5px dashed rgb(128, 18, 18);
}
.t6
{
    position: absolute;
    z-index: 1;
color: rgb(128, 18, 18);
font-size: 30px;
top: 1175px;
left: 750px;
}